html {
  background: #EDEDED;
  text-align: center;
}
h1 {
  margin: 2em 0.4em 0.2em;
  font-size: 5em;
  font-family: 'Merriweather', serif;
  font-weight: normal; /* reset for mobile - http://css-tricks.com/forums/discussion/comment/44182/#Comment_44182 */
}
p {
  margin-bottom: 2em;
  font-family: 'Muli', sans-serif;
  font-size: 1.4em;
}
.meetupLink {
  display: block;
  text-decoration: none;
  color: black;
}
#meetupDate {
  position: relative;
}
#dateMs,
#dateStr {
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
#dateStr {
  position: absolute;
  left: 0;
  width: 18em;
  text-align: left;
  opacity: 0;
}
#meetupDate:hover #dateMs {
  opacity: 0;
}
#meetupDate:hover #dateStr {
  opacity: 1;
}
#footerWrap {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
}
#footerWrap,
#footerWrap a {
  color: gray;
}
#footerInner {
  padding: 0 1.5em;
}
.footer-row {
  margin-bottom: 1em;
}

@media all and (max-width: 640px) {
  /* narrow browser */
  html {
    font-size: 0.8em;
  }
  #footerWrap {
    font-size: 0.9em;
  }
}
@media all and (max-height: 540px) {
  /* short browser */
  h1 {
    margin-top: 1em;
  }
  p {
    margin-bottom: 1em;
  }
}
@media all and (max-height: 360px) {
  /* shorter browser (iPhone) */
  h1 {
    margin-top: 0.5em;
  }
  p {
    font-size: 1.2em;
  }
}
