html {
  background: #EDEDED;
  font-family: 'Muli', sans-serif;
}
h1 {
  font-family: 'Merriweather', serif;
  font-weight: normal; /* reset for mobile - http://css-tricks.com/forums/discussion/comment/44182/#Comment_44182 */
  margin-top: 0;
}
.navbar {
  font-family: 'Merriweather', serif;
  color: gray;
}
.content {
  max-width: 600px;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 50px;
}
.footer {
  margin-bottom: 1em;
  text-align: center;
}
.footer a {
  color: gray;
}

/* homepage */
.page-index .content {
  padding-top: 200px;
  text-align: center;
}
.page-index h1 {
  font-size: 5em;
}
.page-index h2 {
  font-size: 1.4em
}
.page-index .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.meetupLink {
  display: block;
  text-decoration: none;
  color: black;
}
#meetupDate {
  position: relative;
}
#dateMs,
#dateStr {
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
#dateStr {
  position: absolute;
  left: 0;
  width: 18em;
  text-align: left;
  opacity: 0;
}
#meetupDate:hover #dateMs {
  opacity: 0;
}
#meetupDate:hover #dateStr {
  opacity: 1;
}

@media all and (max-width: 640px) {
  /* narrow browser */
  html {
    font-size: 0.8em;
  }
}
@media all and (max-height: 360px) {
  p {
    font-size: 1.2em;
  }
}
