<div class="event-details">
  Sunday, April 26th, 2015, 12-5pm

  <!-- https://addthisevent.com/button/ -->
  <link rel="stylesheet" href="css/addthisevent.theme8.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>
  <script type="text/javascript">
    addthisevent.settings({css: false});
  </script>
  <div title="Add to Calendar" class="addthisevent">
    <img src="/assets/icon-calendar-t1.png" alt=""/>
    <span class="start">04/26/2015 12:00 PM</span>
    <span class="end">04/26/2015 05:00 PM</span>
    <span class="timezone">America/New_York</span>
    <span class="title">Hacker Hours Open Source Workshop</span>
    <span class="description">http://hackerhours.org/oss-workshop.html</span>
    <span class="location">Projective Space LES, 72 Allen St, 3rd floor, New York, NY</span>
    <span class="organizer">Hacker Hours</span>
    <span class="organizer_email">hackerhoursnyc@gmail.com</span>
    <span class="all_day_event">false</span>
    <span class="date_format">MM/DD/YYYY</span>
  </div>
  <br/>

  <a href="http://www.projective.co/">Projective Space LES</a>
  <br/>

  <a href="https://goo.gl/maps/5PR3A">72 Allen St. 3rd Floor, NYC</a>
</div>
