<!-- https://addthisevent.com/button/ -->
<script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>
<div title="Add to Calendar" class="addthisevent">
    Add to Calendar
    <span class="start">04/26/2015 12:00 PM</span>
    <span class="end">04/26/2015 05:00 PM</span>
    <span class="timezone">America/New_York</span>
    <span class="title">Hacker Hours Open Source Workshop</span>
    <span class="description">http://hackerhours.org/oss-workshop.html</span>
    <span class="location">Projective Space LES, 72 Allen St, 3rd floor, New York, NY</span>
    <span class="organizer">Hacker Hours</span>
    <span class="organizer_email">hackerhoursnyc@gmail.com</span>
    <span class="all_day_event">false</span>
    <span class="date_format">MM/DD/YYYY</span>
</div>
