html {
  background: #ededed;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
h1 {
  font-family: 'Merriweather', serif;
  font-weight: normal; // reset for mobile - http://css-tricks.com/forums/discussion/comment/44182/#Comment_44182
  margin-top: 0;
}
img {
  max-width: 100%;
}
pre,
code {
  background-color: #fcfcfc;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  padding: 2px;

  // https://css-tricks.com/snippets/css/make-pre-text-wrap/
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre code {
  border: none;
}
.navbar a {
  font-family: 'Merriweather', serif;
  color: gray;
}
.content {
  max-width: 640px;
  margin: auto;
  min-height: 80%;
  padding: 50px 20px 80px;
}
.footer {
  margin-bottom: 1em;
  text-align: center;

  a {
    color: gray;
  }
}

.header-link {
  $width: 1em;
  color: black;
  font-size: 0.8em;
  left: -1 * $width;
  opacity: 0;
  position: absolute;
  text-decoration: none;
  top: 0.2em;
  width: $width;
}
h2,
h3,
h4 {
  position: relative;
  &:hover .header-link {
    opacity: 1;
  }
}


@media all and (max-height: 360px) {
  p {
    font-size: 1.2em;
  }
}
@media all and (max-height: 650px) {
  p {
    font-size: 1.1em;
  }
}
