@import "constants";
@import "../league_gothic";

.page-index {
  .content {
    padding: 20px 5px;
    text-align: center;
  }
  .logo {
    margin: 2rem 0;
    max-width: 300px;
  }
  h2 {
    font-size: 1.4em;
    font-weight: normal;
  }

  .meetupLink {
    display: block;
    text-decoration: none;
    color: black;
  }

  .dateRow {
    opacity: 0;
  }
  #dateMs,
  #dateStr {
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -ms-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
  }
  #dateStr {
    position: absolute;
    left: 0;
    top: 0;
    width: 18em;
    text-align: left;
    opacity: 0;
  }
  #meetupDate {
    position: relative;

    &:hover {
      #dateMs {
        opacity: 0;
      }
      #dateStr {
        opacity: 1;
      }
    }
  }

  .rsvp {
    background: $hh-purple;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    display: inline-block;
    font-family: "League Gothic", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.08rem;
    margin-bottom: 2rem;
    padding: 0.1rem 1rem;
  }
}
